<table>
  <thead>
    <tr>
      <th>
        nome
      </th>
      <th>descriçao</th>
      <th>preço</th>
      <th>quantidade</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        camiseta
      </td>
      <td>
        descrição
      </td>
      <td>
        R$ 20,00
      </td>
      <td>
        34
      </td>
    </tr>
  </tbody>
</table>